.button-link{
    background-color: turquoise;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-link:hover{
    background-color: aqua;
}


.index_page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


.input_page {
    display: grid;
    justify-items: center;
}


.heading{
    background-color: bisque;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10vh;
    text-align: center;
}

.footer{
    background-color: bisque;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10vh;
    text-align: center;
}


.long-travel-yes, .long-travel-no{
    display: none;
}

#l-travel[value = "True"]:checked ~.long-travel-yes{
    display: block;
}

#l-travel[value = "False"]:checked ~.long-travel-no{
    display: block;
}


.input-form {
    outline-style: double;
    outline-offset: 1cap;
    outline-width: 1cap;
    outline-color: aqua;
}



.recommendations_page {
    display: grid;
    justify-items: center;
    font-family: monospace ;
    font-size: 20px;
    background-color: bisque;
}

.p {
    display: grid;
    justify-items: center;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}