<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>
<body>
<!-- Introduction about me -->
    <h1>Hi Everyone, My name is Stephen Tran</h1>
    <h2>About me</h2>
    <p>I am a developer who learn in class ..., this is the project where I create my own holidays planner</p>
    
    
    <!-- Introduction about the project -->
    <h2>About the project</h2>
    <p>...</p>

    <!-- button to move to the next step -->
    <p>Click the button below to input the information: </p>
    <button>Next</button>


</body>


</html>