<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Input Page</title>
    </head>
    <body class = "input_page">
        <section>
            <h1>This is the input section of the project,</h1>
            <h2>where you are going to input your information</h2>
        
            <form class = "input-form" method="post">
                <label for="d-off">Amount of days off:</label>
                <input type ="text" id = "d-off" name = "d-off"><br>


                <label for = "l-travel">Long Traveling: </label>
                <input type="radio" id="l-travel" name="l-travel" value="True">
                <label for="l-travel">Yes</label>
                <input type="radio" id="l-travel" name="l-travel" value="False">
                <label for="l-travel">No</label><br>

                <div class = "long-travel-yes">
                    <h3>Long Travel Input</h3>
                    <label for = "long-travel-options" id = "long-travel-options">Choose where you want to go: </label>
                    <select id = "long-travel-options" name = long_travel>
                        <option value = "Nha-trang">Nha Trang</option>
                        <option value = "Option-2">Option 2</option>
                        <option value = "Option-3">Option 3</option>
                    </select><br>
                    <label for = "long-travel-other">Other interest: </label>
                    <input type = "text" id = "long-travel-other" name = "long-travel-other"><br>
                
                    <label for = "budget" id = "budget">Your Budget: </label>
                    <input type = "text" id = "budget" name = "budget"><br>

                    <label for = "people" id = "people">How many people do you want to take with you: </label>
                    <select id = "people" name = "people">
                        <option value = "1~2">1~2</option>
                        <option value = "3~4">3~4</option>
                        <option value = "5~6">5~6</option>
                        <option value = "More">More</option>
                    </select><br>
                </div>



                <div class = "long-travel-no">
                    <h3>Short Travel Input</h3>
                    <label for = "short-travel-options" id = "short-travel-options">Choose what you want to do: </labeL>
                    <select id = "short-travel-options" name = "short-travel-options">
                        <option value = "water-park">Water Park</option>
                        <option value = "spa">Spa Treatment</option>
                        <option value = "option-3">Option 3</option>
                        <option value = "option-4">Option 4</option>
                    </select><br>

                    <label for = "short-travel-other">Other interest: </label>
                    <input type = "text" id = "short-travel-other" name = "short-travel-other"><br>
                
                    <label for = "budget" id = "budget">Your Budget: </label>
                    <input type = "text" id = "budget" name = "budget"><br>
                    <label for = "people" id = "people">How many people do you want to take with you: </label>
                    <select id = "people" name = "people">
                        <option value = "1~2">1~2</option>
                        <option value = "3~4">3~4</option>
                        <option value = "5~6">5~6</option>
                        <option value = "More">More</option>
                    </select><br>
                </div>
                <button class = "submit">Submit information</button>
            </form>
            
            <!-- <button class = "submit">Submit information</button> -->

        </section>
    </body>
</html>